.DS_Store
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/

.build/
.swiftpm/
Package.resolved
build/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

.idea/
.vscode/
